@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

a {
  text-decoration: none;
  color: inherit;
}

body {
  --main-font-family: "Roboto", sans-serif;
  --primary-color: #212121;
  --secondary-color: #757575;
  --dark-background-color: #2f303a;
  --grey-backgroud-color: #f5f4fa;
}

.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo-span {
  color: #2196f3;
}

.footer-logo {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.menu {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.menu-nav {
  color: var(--primary-color);
}

.menu-contact {
  color: var(--secondary-color);
}

.menu-nav a:hover,
.meun-nav a:focus,
.menu-nav a:active .menu-contact a:focus,
.menu-contact a:hover,
.menu-contact a:active {
  color: #2196f3;
}

.main-section {
  font-family: var(--main-font-family);
  background-color: var(--dark-background-color);
}

h1 {
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-weight: 900;
}

.ordering-button {
  font-family: var(--main-font-family);
  background: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

.our-assets-section {
  font-family: var(--main-font-family);
  color: var(--primary-color);
}

.our-assets-section h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.our-assets-section p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team {
  background-color: var(--grey-backgroud-color);
}

.team-cards {
  font-family: var(--main-font-family);
}
.team-cards h3 {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-cards p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.footer {
  font-family: var(--main-font-family);
  background-color: var(--dark-background-color);
}

.footer li {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-style: normal;
}

.address {
  color: #ffffff;
  font-style: normal;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio styles */

.portfolio {
  font-family: var(--main-font-family);
  color: var(--primary-color);
}

.filter-buttons button {
  cursor: pointer;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
}

.portfolio-projects h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.portfolio-projects p {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;
}
