@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

html {
  --main-font-family: "Roboto", sans-serif;
  --primary-color: #212121;
  --secondary-color: #757575;
  --dark-background-color: #2f303a;
  --grey-backgroud-color: #f5f4fa;
}

li {
  list-style: none;
}

body {
  color: var(--primary-color);
  font-family: var(--main-font-family);
}

.link {
  text-decoration: none;
  color: inherit;
}

.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px; /*26px*/
  line-height: 1.19; /*31px*/
  letter-spacing: 0.03em;
}

.logo-span {
  color: #2196f3;
}

.footer-logo {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px; /*26px*/
  line-height: 1.19; /*31px*/
  letter-spacing: 0.03em;
}

.menu {
  font-weight: 500;
  font-size: 14px; /*14px*/
  line-height: 1.14; /*16px*/
  letter-spacing: 0.02em;
}

.menu-contact {
  color: var(--secondary-color);
}

.menu-nav a:hover,
.meun-nav a:focus,
.menu-nav a:active,
.menu-contact a:focus,
.menu-contact a:hover,
.menu-contact a:active {
  color: #2196f3;
}

.main-section {
  background-color: var(--dark-background-color);
}

h1 {
  font-size: 44px;
  line-height: 1.36; /*60px*/
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-weight: 900;
}

.ordering-button {
  background: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875; /*30px*/
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

.our-assets-section h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14; /*16px*/
  letter-spacing: 0.03em;
}

.our-assets-section p {
  font-size: 14px;
  line-height: 1.71; /*24px*/
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17; /*42px*/
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team {
  background-color: var(--grey-backgroud-color);
}

.team-cards {
}
.team-cards h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19; /*19px*/
  text-align: center;
  letter-spacing: 0.03em;
}

.team-cards p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19; /*19px*/
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.footer {
  background-color: var(--dark-background-color);
}

.footer li {
  font-size: 14px;
  line-height: 1.71; /*24px*/
  letter-spacing: 0.03em;
  font-style: normal;
}

.address {
  color: #ffffff;
  font-style: normal;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio styles */

.filter-buttons button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625; /*26px*/
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-buttons button:active,
.filter-buttons button:hover,
.filter-buttons button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.portfolio-projects h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2; /*36px*/
  letter-spacing: 0.06em;
}

.portfolio-projects p {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875; /*30px*/
  letter-spacing: 0.03em;
}
